DB_USER=smartroom_user
DB_NAME=smartroom_db
DB_PASSWORD=change_me
JWT_SECRET_KEY=change_me
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=480
HA_URL=http://homeassistant:8123
HA_PUBLIC_URL=http://server-ip:8123
HA_TOKEN=change_me
TELEMETRY_INTERVAL_SECONDS=60
