--
-- PostgreSQL database dump
--

\restrict YcLGouOMvRfNlv4ZvaIxz1UNcXRsnCMgFmEmM8onSPH4ktgIvd43WwzqwA1gaxW

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: access_logs; Type: TABLE; Schema: public; Owner: damba_user
--

CREATE TABLE public.access_logs (
    id integer NOT NULL,
    entity_id character varying(120) NOT NULL,
    action character varying(30) NOT NULL,
    triggered_by character varying(50) NOT NULL,
    triggered_at timestamp with time zone NOT NULL
);


ALTER TABLE public.access_logs OWNER TO damba_user;

--
-- Name: access_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: damba_user
--

CREATE SEQUENCE public.access_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.access_logs_id_seq OWNER TO damba_user;

--
-- Name: access_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: damba_user
--

ALTER SEQUENCE public.access_logs_id_seq OWNED BY public.access_logs.id;


--
-- Name: devices; Type: TABLE; Schema: public; Owner: damba_user
--

CREATE TABLE public.devices (
    id integer NOT NULL,
    entity_id character varying(120) NOT NULL,
    name character varying(80) NOT NULL,
    device_type character varying(30) NOT NULL,
    unit character varying(20),
    is_active boolean NOT NULL,
    visibility character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.devices OWNER TO damba_user;

--
-- Name: devices_id_seq; Type: SEQUENCE; Schema: public; Owner: damba_user
--

CREATE SEQUENCE public.devices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.devices_id_seq OWNER TO damba_user;

--
-- Name: devices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: damba_user
--

ALTER SEQUENCE public.devices_id_seq OWNED BY public.devices.id;


--
-- Name: telemetry_records; Type: TABLE; Schema: public; Owner: damba_user
--

CREATE TABLE public.telemetry_records (
    id integer NOT NULL,
    device_id integer NOT NULL,
    value double precision,
    raw_state character varying(50) NOT NULL,
    recorded_at timestamp with time zone NOT NULL
);


ALTER TABLE public.telemetry_records OWNER TO damba_user;

--
-- Name: telemetry_records_id_seq; Type: SEQUENCE; Schema: public; Owner: damba_user
--

CREATE SEQUENCE public.telemetry_records_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.telemetry_records_id_seq OWNER TO damba_user;

--
-- Name: telemetry_records_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: damba_user
--

ALTER SEQUENCE public.telemetry_records_id_seq OWNED BY public.telemetry_records.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: damba_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(120) NOT NULL,
    hashed_password character varying(255) NOT NULL,
    role character varying(20) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.users OWNER TO damba_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: damba_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO damba_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: damba_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: access_logs id; Type: DEFAULT; Schema: public; Owner: damba_user
--

ALTER TABLE ONLY public.access_logs ALTER COLUMN id SET DEFAULT nextval('public.access_logs_id_seq'::regclass);


--
-- Name: devices id; Type: DEFAULT; Schema: public; Owner: damba_user
--

ALTER TABLE ONLY public.devices ALTER COLUMN id SET DEFAULT nextval('public.devices_id_seq'::regclass);


--
-- Name: telemetry_records id; Type: DEFAULT; Schema: public; Owner: damba_user
--

ALTER TABLE ONLY public.telemetry_records ALTER COLUMN id SET DEFAULT nextval('public.telemetry_records_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: damba_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: access_logs; Type: TABLE DATA; Schema: public; Owner: damba_user
--



--
-- Data for Name: devices; Type: TABLE DATA; Schema: public; Owner: damba_user
--



--
-- Data for Name: telemetry_records; Type: TABLE DATA; Schema: public; Owner: damba_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: damba_user
--

COPY public.users (id, username, email, hashed_password, role, is_active, created_at) FROM stdin;
1	admin	admin@damba.local	$2b$12$rK.MZFnsBOLb6q2EBBdTVO21NRB7w9D5oV8aJyyW3iDGQPGvPCKaa	admin	t	2026-04-11 23:57:47.899802+00
2	docente1	docente1@damba.local	$2b$12$AtEKZR5e0CeoIJiUY7RXwOUe/HNEMPZ3Z//pmKV4gxiNBjyL9tQde	docente	t	2026-04-13 13:59:15.514201+00
\.


--
-- Name: access_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: damba_user
--

SELECT pg_catalog.setval('public.access_logs_id_seq', 14, true);


--
-- Name: devices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: damba_user
--

SELECT pg_catalog.setval('public.devices_id_seq', 86, true);


--
-- Name: telemetry_records_id_seq; Type: SEQUENCE SET; Schema: public; Owner: damba_user
--

SELECT pg_catalog.setval('public.telemetry_records_id_seq', 334, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: damba_user
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: access_logs access_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: damba_user
--

ALTER TABLE ONLY public.access_logs
    ADD CONSTRAINT access_logs_pkey PRIMARY KEY (id);


--
-- Name: devices devices_entity_id_key; Type: CONSTRAINT; Schema: public; Owner: damba_user
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_entity_id_key UNIQUE (entity_id);


--
-- Name: devices devices_pkey; Type: CONSTRAINT; Schema: public; Owner: damba_user
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_pkey PRIMARY KEY (id);


--
-- Name: telemetry_records telemetry_records_pkey; Type: CONSTRAINT; Schema: public; Owner: damba_user
--

ALTER TABLE ONLY public.telemetry_records
    ADD CONSTRAINT telemetry_records_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: damba_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: damba_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: damba_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: ix_telemetry_records_recorded_at; Type: INDEX; Schema: public; Owner: damba_user
--

CREATE INDEX ix_telemetry_records_recorded_at ON public.telemetry_records USING btree (recorded_at);


--
-- Name: telemetry_records telemetry_records_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: damba_user
--

ALTER TABLE ONLY public.telemetry_records
    ADD CONSTRAINT telemetry_records_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id);


--
-- PostgreSQL database dump complete
--

\unrestrict YcLGouOMvRfNlv4ZvaIxz1UNcXRsnCMgFmEmM8onSPH4ktgIvd43WwzqwA1gaxW

